
/* CSS Document */
header {
	padding: 10px;
}
	.navbar {
	 padding: 0px;
	}

/*-------------------phone--------------------*/		

	@media only screen and (max-width: 415px) {
	.navbar a.navbar-brand {
	position: absolute ;
	top: -5px;
	left: 25%;
	width: 150px;
	} 
		
	.navbar-brand
	.img-logo img {
	width: 220px;
	}	
	.navbar-menu-div {
	margin-top: 40px;
	}
	
	.fixed {
	position: fixed;
	z-index: 100;
	width: 100vw;
	background-color: white;
	}
			
	.fixed {
	position: fixed;
	z-index: 100;
	width: 100vw;
	background-color: white;
	}
	}

/*-------------------talet--------------------*/		

	@media only screen and (max-width: 770px) {		
	.navbar-brand img {
	width: 300px;
	margin: auto;
	}
		
	.navbar-brand p {
	text-align: center;
	} 
		
	.navbar-nav {
	margin: auto;
	margin-top: -30px;
	}

	.navbar-nav li {
	margin-left: 10px;
	font-weight: 700;		
		}
		
	.header
	.navbar {
	display: block;	
	}	
	}

	/*---------------------------laptop-----------------------*/

	.navbar-brand img {
	width: 274px;
	} 

	.navbar-menu-div {
	justify-content: flex-end;
	}

	.nav-link {
	margin: 10px;
	font-weight: 700;
	color: black !important ;
	font-family: Open Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	}

	.nav-link:hover {
	padding: 5px 10px 10px 5px;
	background-color: #B2D235;
	border-radius: 35px;
	color: white !important;
	}
	


